body {
    background: linear-gradient(rgb(232, 232, 232), rgb(111, 97, 189));
    color: rgb(100, 0, 0);
}
.vz_container {
    width: 75%;
    height: 100vh;
    margin: 0 auto;
    padding-top: 80px;
}
h1 {text-align: center; text-transform: uppercase; font-weight: bold;}
th {color: rgb(185, 173, 0);}
td {
    cursor: pointer;
    color: rgb(90, 90, 90);
}