body {background-color: rgb(235, 235, 235);}
.vz_container {
    width: 75%;
    height: 100vh;
    margin: 0 auto;
    padding-top: 80px;
}
h1 {text-align: center; text-transform: uppercase; font-weight: bold; color: rgb(100, 0, 0);}
th {color: rgb(145, 0, 0);}
td {
    cursor: pointer;
    color: rgb(55, 55, 55);
}
td:first-of-type {font-weight: bold;}